.aspectos-fisicos {
    border-left: 1px solid rgba(0, 0, 0, 0.587);
    padding: 10px;
    box-shadow: -3px 0px 5px rgba(0, 0, 0, 0.248);
}
.aspectos-fisicos__titulo {
    font-size: 2.4rem;
    font-family: var(--albert);
    margin: 1.7rem 3rem;
}
.aspectos-fisicos__descricao {
    width: 50%;
    font-size: 1.3rem;
    font-family: var(--comfortaa);
    padding: 0 10px;
    line-height: 1.8rem;
}
.aspectos-fisicos h3 {
    font-size: 2rem;
    font-family: var(--albert);
    margin: 1rem 0;
}