.selecao {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: calc(100vh - 50px);
    background-color: var(--eerie-black);
    overflow: hidden;
}
.selecao__holanda {
    width: 100%;
    height: 100%;   
}
.selecao__islandia {
    width: 100%;
    height: 100%;
}

.holanda__container {
    background-color: aqua;
    width: 100%;
    height: 100%;
    transform: skewX(20deg);
    padding: 4rem;
    box-sizing: border-box;
    transition: all .5s;
}
.islandia__container {
    background-color: orangered;
    width: 100%;
    height: 100%;
    transform: skewX(20deg);
    padding: 4rem;
    box-sizing: border-box;
}
.holanda__titulo, .islandia__titulo {
    display: flex;
    width: 100%;
    height: 100%;
    transform: skewX(-20deg);
    color: white;
    font-size: 3rem;
}
.holanda__titulo {
    justify-content: flex-end;
    align-items: flex-end;
}
.islandia__titulo {
    justify-content: center;
    align-items: flex-start;
}

.holanda__container:hover {
    transition: all .5s;
    background-color: rgb(0, 100, 100);    
}
.islandia__container:hover {
    transition: all .5s;
    background-color: rgb(100, 27, 0);
}

/* ///////////////////////////////// */